[submodule "Au gré du courant"]
	path = Au gré du courant
	url = https://github.com/douetp/ocean23
[submodule "Un monde à explorer"]
	path = Un monde à explorer
	url = https://gitlab.marcbarbier.fr/Marc/icreate.git
[submodule "Un océan de promesses"]
	path = Un océan de promesses
	url = https://github.com/ThibaultBus/ICreate-2023-Ocean-de-promesses
[submodule "Sous la glace une explosition de vie"]
	path = Sous la glace une explosition de vie
	url = https://github.com/Thowisk/ocean.s-23
